<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.solutionhub.mapper.FileManagementMapper">

    <select id="getFileList" resultType="com.h3c.solutionhub.entity.FileBO">
        SELECT
            id as fileId,
            file_name as fileName,
            file_type as fileType,
            product_type as productType,
            product_version as productVersion,
            file_size as fileSize,
            file_path as filePath
        FROM file_management
    </select>

    <insert id="insertFileInfo" >
        INSERT INTO  file_management (
            file_type,
            product_type,
            file_name,
            product_version,
            file_size,
            file_path
        ) VALUES (
            #{fileType,jdbcType=VARCHAR},
            #{productType,jdbcType=VARCHAR},
            #{fileName,jdbcType=VARCHAR},
            #{productVersion,jdbcType=VARCHAR},
            #{fileSize,jdbcType=INTEGER},
            #{filePath,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteFileInfo">
        DELETE FROM file_management WHERE name = #{fileName,jdbcType=VARCHAR}
    </delete>

    <select id="selectFileName" resultType="int">
        SELECT file_name
        FROM file_management
        WHERE id = #{fileId}
    </select>

    <select id="selectFilePath" resultType="string">
        SELECT file_path
        FROM file_management
        WHERE file_name = #{fileName}
    </select>

    <select id="getISOName" resultType="string">
        SELECT file_name
        FROM file_management
        WHERE
            product_version = #{productVersion} and
            file_type = 'iso'
    </select>

    <select id="selectAllProductType" resultType="string">
        SELECT DISTINCT product_type
        FROM file_management
    </select>

    <select id="selectVersion" resultType="string">
        SELECT DISTINCT product_version
        FROM file_management
    </select>

</mapper>
