<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.h3c.solutionhub.mapper.NodesManagementMapper">

    <select id="getNodeList" resultType="com.h3c.solutionhub.entity.NodeBo">
        SELECT
            id as nodeId,
            node_name as nodeName,
            node_hdm_ip as nodeHDMIP,
            node_type as nodeType,
            node_status as nodeStatus,
            node_hdm_password as nodeHDMPaasword,
            management_ip as managementIP,
            business_ip as businessIP,
            management_mask as managementMask,
            business_mask as businessMask,
            management_gateway as managementGateway,
            business_gateway as businessGateway,
            storage_ip as storageIP,
            storage_mask as storageMask,
            storage_gateway as storageGateway
        FROM node_management
    </select>

    <insert id="insertNodeInfo" >
        INSERT INTO  node_management (
            node_name,
            node_hdm_ip,
            node_type,
            node_status,
            node_hdm_password,
            management_ip,
            business_ip,
            management_mask,
            business_mask,
            management_gateway,
            business_gateway,
            storage_ip,
            storage_mask,
            storage_gateway
        ) VALUES (
            #{nodeName,jdbcType=VARCHAR},
            #{nodeHDMIP,jdbcType=VARCHAR},
            #{nodeType,jdbcType=VARCHAR},
            #{nodeStatus,jdbcType=VARCHAR},
            #{nodeHDMPaasword,jdbcType=VARCHAR},
            #{managementIP,jdbcType=VARCHAR},
            #{businessIP,jdbcType=VARCHAR},
            #{managementMask,jdbcType=VARCHAR},
            #{businessMask,jdbcType=VARCHAR},
            #{managementGateway,jdbcType=VARCHAR},
            #{businessGateway,jdbcType=VARCHAR},
            #{storageIP,jdbcType=VARCHAR},
            #{storageMask,jdbcType=VARCHAR},
            #{storageGateway,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteNodeInfo">
        DELETE FROM node_management WHERE node_name = #{nodeName,jdbcType=VARCHAR}
    </delete>

    <insert id="insertDHCPInfo" >
         INSERT INTO  dhcp (
            dhcp_ip,
            dhcp_mask
        ) VALUES (
            #{dhcpIPPond,jdbcType=VARCHAR},
            #{dhcpMask,jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectDHCPInfo" resultType="com.h3c.solutionhub.entity.DhcpBO">
        SELECT
            dhcp_ip as dhcpIPPond,
            dhcp_mask as dhcpMask
        FROM dhcp
    </select>

    <select id="isDhcpExist" resultType="int">
        SELECT COUNT(1)
        FROM dhcp
    </select>

    <delete id="deleteDHCPInfo">
        DELETE FROM dhcp WHERE 1=1
    </delete>

    <update id="editNodeInfo" >
    UPDATE  node_management
        SET
            node_name = #{nodeName,jdbcType=VARCHAR},
            node_hdm_ip = #{nodeHDMIP,jdbcType=VARCHAR},
            node_type = #{nodeType,jdbcType=VARCHAR},
            node_status = #{nodeStatus,jdbcType=VARCHAR},
            node_hdm_password = #{nodeHDMPaasword,jdbcType=VARCHAR},
            management_ip = #{managementIP,jdbcType=VARCHAR},
            business_ip = #{businessIP,jdbcType=VARCHAR} ,
            management_mask = #{managementMask,jdbcType=VARCHAR},
            business_mask = #{businessMask,jdbcType=VARCHAR} ,
            management_gateway = #{managementGateway,jdbcType=VARCHAR},
            business_gateway = #{businessGateway,jdbcType=VARCHAR},
            storage_ip = #{storageIP,jdbcType=VARCHAR} ,
            storage_mask = #{storageMask,jdbcType=VARCHAR},
            storage_gateway = #{storageGateway,jdbcType=VARCHAR}
        WHERE node_hdm_ip = #{nodeHDMIP,jdbcType=VARCHAR}
    </update>

    <update id="updateNodeStatus">
        UPDATE node_management
        SET node_status = '占用'
        WHERE id = #{nodeId,jdbcType=INTEGER}
    </update>

    <select id="selectNodeStatus" resultType="string">
        SELECT node_status
        FROM node_management
        WHERE node_name = #{nodeName,jdbcType=VARCHAR}
    </select>

    <select id="isNodeExist" resultType="int">
        SELECT COUNT(1)
        FROM  node_management
        WHERE node_name = #{nodeName,jdbcType=VARCHAR}
    </select>

</mapper>
